.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/truncation from 32 to 10 nodes-checkpoint.ipynb
raw txt-input 4889 samples 10 nodes/.ipynb_checkpoints/10060101-checkpoint.txt
input/.DS_Store
.ipynb_checkpoints/Convert_raw-txt-files_to_TU-input-files-checkpoint.ipynb
input/.ipynb_checkpoints/README-checkpoint.md
output/.ipynb_checkpoints/README-checkpoint.md
TU_output
